@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer base {
  :root {
    --radius: 12px;
  }
}

.react-flow__node {
  z-index: -1 !important;
}

